In [1]:
import pandas  as pd
import numpy as np
from tqdm._tqdm_notebook import tqdm_notebook

### Kaggleで使える！Pandasテクニック集
```
Qiita：https://qiita.com/R1ck29/items/9b75b630b37c9e3e4b3f
```

In [17]:
df = pd.DataFrame(np.random.randint(0,100,(100000,6)))
print(df.head())

# プログレスバーのラベル設定
tqdm_notebook.pandas(desc="hoge progress:")
df['hoge']  =df[0].progress_apply(lambda x: x**2)
df.head()

    0   1   2   3   4   5
0  24   5  90  52  36  57
1  61  25  26  64  78  20
2  69  98  58  73  72  38
3  97  37  26  38  42  36
4  33  48  33  17  93  75

    0   1   2   3   4   5  hoge
0  24   5  90  52  36  57   576
1  61  25  26  64  78  20  3721
2  69  98  58  73  72  38  4761
3  97  37  26  38  42  36  9409
4  33  48  33  17  93  75  1089

In [18]:
import pandas as pd
import numpy as np
from tqdm import tqdm
tqdm.pandas()

df = pd.DataFrame(np.random.randint(0,100,(100000,6)))

df['hoge'] = df[0].progress_apply(lambda x : x**2)
df.head()

100%|██████████| 100000/100000 [00:00<00:00, 441105.44it/s]

    0   1   2   3   4   5  hoge
0  57  31  98  62  66  32  3249
1  55  64  84   7  97  30  3025
2  95  88  49  72  44  52  9025
3  60  52  99  35  30  52  3600
4  71  23  90   9  64  29  5041

### CSVにJson形式のカラムがある場合の読み込み方
```
sampleがあるといいなあ。
```

In [23]:
import os
import random
import pandas as pd
import  json
from pandas.io.json import json_normalize

# json形式のカラムを設定
columns = ['device','getNetwork','totals','trafficSource']

### 大量データを読み込む場合の対処法
```
データ型の指定：サンプルあるとありがたいけどなあ。
```

In [30]:
# 　データ型を調べる
train_df = pd.DataFrame(np.random.randint(0,100,(100000,6)))
train_df.info()

# dtype指定
dtypes = {
        'MachineIdentifier': 'category',
        'ProductName': 'category',
        'EngineVersion': 'category',
        'AppVersion':  'category',
        'AvSigVersion':'category',
        'IsBeta': 'int8',
        'RtpStateBitfield': 'float16'}

#train_df = pd.read_csv(train_df,dtype=dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
0    100000 non-null int64
1    100000 non-null int64
2    100000 non-null int64
3    100000 non-null int64
4    100000 non-null int64
5    100000 non-null int64
dtypes: int64(6)
memory usage: 4.6 MB

### 時系列データあの操作