# 回帰問題
```
教師あり機械学習の問題は大きく、分類と回帰に分類される。
回帰タスクの目的は連続値の予想だ。
今回は重回帰分析を用いて、時間と場所を説明変数に気温を予測するモデルを構築する。
```

In [46]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

In [114]:
columns = ['時刻', '場所', '気温', '降水量', '風向', '風速', '日照時間']
data = pd.DataFrame(columns=columns)
data1 =  pd.read_csv('./data/hokaido_hiro_20180629.csv')
data2 =  pd.read_csv('./data/hokaido_asahikawa_20180629.csv')
data3 =  pd.read_csv('./data/hokaido_kamikawa_20180629.csv')
data4 =  pd.read_csv('./data/tokyo_20180629.csv')
data5 =  pd.read_csv('./data/tokyo_nerima_20180629.csv')
data6 =  pd.read_csv('./data/tokyo_oume_20180629.csv')
data = data.append([data1,data2,data3,data4,data5,data6]) 
data = data[['時刻','場所','気温']]
data.head()

  時刻  場所    気温
0  1  広尾  17.7
1  2  広尾  16.2
2  3  広尾  16.3
3  4  広尾  15.7
4  5  広尾  14.5

In [126]:
# マスタデータ
columns = ['area','lat', 'long']
area = data['場所'][data['場所'].duplicated()==False]
area_data = pd.DataFrame(columns=columns)
area_data['場所'] = area
area_data

  area  lat long  場所
0  NaN  NaN  NaN  広尾
0  NaN  NaN  NaN  旭川
0  NaN  NaN  NaN  上川
0  NaN  NaN  NaN  東京
0  NaN  NaN  NaN  練馬
0  NaN  NaN  NaN  青梅

In [ ]:
# tokyo周辺のデータ
data_predict =

In [30]:
area_data = pd.merge(area_temperature, area, on='area')
print(area_data.head())

  hour area temperature       lat        long
0    0   新宿          25  35.69384  139.703549
1    1   新宿          25  35.69384  139.703549
2    2   新宿          23  35.69384  139.703549
3    3   新宿          22  35.69384  139.703549
4    4   新宿          24  35.69384  139.703549

In [45]:
lr = LinearRegression()
X = area_data[['hour','lat','long']]
y = area_data['temperature']
scors = cross_val_score(lr, X,y)
print("cross validation score：{}".format(scors.mean()))

cross validation score：-11.137996051879126