In [1]:
import pandas as pd

In [5]:
A = pd.read_csv('data/company_A.csv', index_col=0)

In [6]:
A

       income  age
shain
A         350   36
B         550   28
C         400   39
D         420   34
E         450   31
F         420   29
G         400   38
H         320   34
I         320   34
J         400   27